<template name="tGameDayRoster">
<h2>Game Day Roster</h2>
<p class="badge">{{gameDayRosterCount}} players this week</p>
<p class="badge">{{totalRoster}} total players</p>
{{#if cRoster}}
  <ol>
    {{#each cStarters}}
      <li>
        {{> tPlayerInfo}}
        
        <ul>
          <li>{{fieldPosition}} {{playerNotes}}
              {{#if currentUser}}
              <ul>
                <li>{{> tEditPlayer}}</li>
              </ul>
              {{/if}}
          </li>
        </ul>
      </li>
    {{/each}}
  </ol>

{{else}}
<p>no starting players</p>
{{/if}}
</template>

<template name="tStartingLineup">
    {{#each cStarters}}
    <div class="btn-group {{fieldPosition}}">
        <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> {{firstName}}</a>
        {{#if currentUser}} 
          {{> tEditPlayer}}
        {{/if}}
    </div>
    {{/each}}
</template>

<template name="tField">
    <div class="field">
        {{> tStartingLineup}}
    </div>
    <!-- END .field -->
</template>

<template name="tSubs">
<h2>Substitutes</h2>
<p class="badge">{{subCount}} Subs</p>
{{#if haveSubs}}
  <ol>
    {{#each cPlayers}}
     <li> {{> tPlayerInfo}}
        {{> tEditPlayer}}</li>
    {{/each}}
  </ol>
{{else}}
no subs
{{/if}}
</template>

<template name="tNotPlaying">
  <h2>Out This Week</h2>
  <p class="badge">{{outCount}} not playing</p>
{{#if playersOut}}
  <ol>
    {{#each cPlayersOut}}
      <li>
        {{> tPlayerInfo}}
        <ul>
          {{#if playerNotes}}
          <li>{{playerNotes}}</li>
          {{/if}}
          {{#if currentUser}}
          <li>{{> tEditPlayer}}</li>
          {{/if}}
        </ul>
      </li>
    {{/each}}
  </ol>
{{else}}
no subs
{{/if}}
</template>

