<template name="tGames">
  {{> tListGames}}
</template>
<template name="tListGames">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'tLeagues'}}"><span class="label label-success">League: {{cLeague.leagueName}}</span></a>
      </li>
      <li><a href="{{pathFor 'tRegions'}}"><span class="label label-info">Region: {{cRegion.regionName}}</span></a>
      </li>
      <li><span class="label label-default">Season: {{cSeason.seasonName}}</span>
      </li>
      <li><span class="label label-warning">Team: {{cTeam.teamName}}</span>
      </li>
    </ol>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="jumbotron">
        <h1>{{cTeam.teamName}}</h1>
      </div>
    </div>
    <!-- END .col1 -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      {{#if sTeamEditMode}}
        {{> tAddTeam}}
      {{else}}
        <p>
          <a type="button" class="btn btn-default btn-lg add-team">Add Team to this Season</a>
        </p>
      {{/if}}

      {{#if cGames}}
        <h4>{{cTeam.teamName}}'s have {{cGames.count}} games this season.</h4>
      {{else}}
        <p>Sorry, no games scheduled this season.</p>
      {{/if}}
      <p>Choose a different team to see their schedule.</p>
      <ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{#each cTeams}}
              <!-- <li class="dd-team-name"><a href="{{pathFor 'tScheduleTeam'}}">{{teamName}}</a> 
            </li>-->
              <li class="dd-team-name"><a href="{{pathFor 'tListGames'}}">{{teamName}}</a>
              </li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      [put standings here] {{> tListPlayers}}
    </div>
  </div>
  <!-- END .row1 -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {{#if cGames}}

        <h3>{{cTeam.teamName}} Season Schedule</h3>
        <hr>
        <div id="scores-page">
          <div class="scores-page-content">
            <!-- <div class="score-date-area"></div>
        <div class="score-calendar-large">Calendar</div> -->
            <div id="score-leagues">
              <div class="score-league">
                <!-- <a href="#">League Name</a>
            <h4><a href="#">League Name</a></h4>
            <span>(# games)</span> -->
                <div class="score-group">
                  <!-- <p>league name and season</p> -->
                  {{#each cGames}}
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class="score-box">
                        <div><strong>Game #</strong>{{gameNumber}}</div>
                        <div class="score full">
                          <div class="scorebox-container {{gameResultStyle}}">
                            <div class="score-content">

                              <div class="team-names">
                                <div class="team-name away">
                                  <span>
                  <a href="{{pathFor 'tGames'}}">{{cAwayTeam.teamName}}(a)</a> 
                </span>
                                </div>
                                <!-- END team-name -->
                                <div class="team-name home">
                                  <span><a href="{{pathFor 'tGames'}}">{{cHomeTeam.teamName}}</a></span>
                                </div>
                                <!-- END .team-name -->
                              </div>
                              <!-- END .team-names -->

                              <div class="team-scores">
                                <div class="team-score {{didAwayTeamWin}}">
                                  <span>{{awayTeamScore}}</span>
                                </div>
                                <!-- END .team-score -->
                                <div class="team-score {{didHomeTeamWin}}">
                                  <span>{{homeTeamScore}}</span>
                                </div>
                                <!-- END .team-score -->
                              </div>
                              <!-- END .team-scores -->
                              <div class="game-info"><span>{{gameStatusPretty}} {{formatDate gameDate}}</span>
                              </div>
                              <!-- END .game-info -->
                            </div>
                            <!-- END score-content -->
                            {{> tEditGame}}
                          </div>
                          <!-- END .scorebox-container -->
                        </div>
                        <!-- END .score -->
                      </div>
                      <!-- END .score-box -->
                    </div>
                    <!-- END .col1 -->

                  {{/each}}



                </div>
                <!-- END .score-group -->
              </div>
              <!-- END .score-league -->

            </div>
            <!-- END .score-leagues -->
          </div>
        </div>
      {{else}}
        <p>Sorry, no games yet</p>
      {{/if}}
    </div>

  </div>
  <!-- END .row2 -->
</template>

<template name="tAddGame">
  {{#if sEditMode}}
    <h2>Add Game</h2>
    <form role="form">
      <input type="hidden" name="leagueId" class="form-control" value="{{sLeagueId}}">
      <input type="hidden" name="regionId" class="form-control" value="{{sRegionId}}">
      <input type="hidden" name="seasonId" class="form-control" value="{{sSeasonId}}">
      <div class="input-group clockpicker">
        <input type="text" name="gameTime" class="form-control" value="18:00" style="margin-top: 0;">
        <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
      <!-- add jquery calendar input box here -->
      <div class="form-group">
        <div class="required-field-block">
          <div class="required-icon">
            <div class="text">*</div>
          </div>
          <div class="controls">
            <input type="text" placeholder="Game Date" name="gameDate" class="form-control datepicker">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="required-field-block">
          <div class="required-icon">
            <div class="text">*</div>
          </div>
          <div class="controls">
            <input type="text" placeholder="Game Number" name="gameNumber" class="form-control">
          </div>
        </div>
      </div>

      <!-- pull in the home jersey color from the teams table -->
      <!-- pull in the away jersey color from the teams table -->

      <!-- make sure this inserts the team id into the collection -->
      <div class="required-field-block">
        <select class="team-name form-control" name="homeTeam">
          <option value="">Choose Home Team</option>
          {{#each cTeams}}
            <option value="{{_id}}">{{teamName}}</option>
          {{/each}}
        </select>
        <div class="required-icon">
          <div class="text">*</div>
        </div>
      </div>

      <div class="form-group">
        <div class="required-field-block">
          <div class="required-icon">
            <div class="text">*</div>
          </div>
          <div class="controls">
            <input type="text" placeholder="Home Score" name="homeTeamScore" class="form-control">
          </div>
        </div>
      </div>


      <!-- two same team can't play each other - valiate rule -->
      <!-- How do I add goals scored by player to this game, multiple values? -->

      <div class="required-field-block" style="margin-top: 10px">
        <select class="team-name form-control" name="awayTeam">
          <option value="">Choose Away Team</option>
          {{#each cTeams}}
            <option value="{{_id}}">{{teamName}}</option>
          {{/each}}
        </select>
        <div class="required-icon">
          <div class="text">*</div>
        </div>
      </div>
      <div class="form-group">
        <div class="required-field-block">
          <div class="required-icon">
            <div class="text">*</div>
          </div>
          <div class="controls">
            <input type="text" placeholder="Away Score" name="awayTeamScore" class="form-control">
          </div>
        </div>
      </div>

      <div class="required-field-block" style="margin-top: 10px">
        <select class="form-control game-type" name="gameType">
          <option value="">Game Type</option>
          <option value="friendly">Friendly</option>
          <option value="regular_season">Regular Season</option>
          <option value="playoff">Playoff</option>
        </select>
        <div class="required-icon">
          <div class="text">*</div>
        </div>
      </div>

      <div class="required-field-block" style="margin-top: 10px">
        <select class="form-control game-status" name="gameStatus">
          <option value="">Game Status</option>
          <option value="to_be_played">To Be Played</option>
          <option value="played">Played</option>
          <option value="played_overtime">Played Overtime</option>
          <option value="cancelled">Cancelled</option>
          <option value="delayed">Delayed</option>
          <option value="forfeit_home">Forfeit Home</option>
          <option value="forfeit_away">Forfeit Away</option>
        </select>
        <div class="required-icon">
          <div class="text">*</div>
        </div>
      </div>

      <!-- <div class="required-field-block" style="margin-top: 10px">
      <select class="form-control game-type" name="gameResult">
        <option value="">Game Result</option>
        <option value="friendly">Win</option>
        <option value="regular_season">Lost</option>
        <option value="playoff">Tied</option>
      </select>
      <div class="required-icon">
        <div class="text">*</div>
      </div>
    </div> -->
      {{> tAddCancelBtns }}

    </form>
  {{else}}
    <p>
      <a type="button" class="btn btn-default btn-lg add">Add Game</a>
    </p>
  {{/if}}
</template>

<template name="tDetailGame">
  {{> tListTeams}}
</template>

<template name="tEditGame">
  {{> tEditDeleteBtns}}
</template>
