<template name="tListGames">
    [list_games] {{> tBreadcrumbs}}

    {{#if sEditMode}}
        {{> tAddGame}}
    {{else}}
        <a type="button" class="btn btn-default btn-lg add">
                    Add Game
                </a>

    {{/if}}
    <h3>{{this.teamName}} games this season.</h3>
    {{#if cGames}}
        <p>Select the league you want to enter.</p>
        <ul class="list-group">
            {{#each cGames}}
                <!-- I need to generate a list of games a + b and sorted from games
          most current until the end of the season, how do I tell
          which games have been played? How to I show games that are yet to be played?
          How to I show the next game? -->
                <li class="game {{selectedClass}}">
                    <a href="{{pathFor 'tDetailGame'}}">[Game Detail]</a> {{gameDate}} H:{{homeTeam}} vs A: {{awayTeam}} @ {{gameTime}} {{> tEditGame}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>Sorry, no leagues yet</p>
    {{/if}}
</template>
