<template name="tListGames">
  {{> tBreadcrumbs}}
  {{#if sEditMode}} {{> tAddGame}} {{else}}
    <a type="button" class="btn btn-default btn-lg add">
                    Add Game
                </a> {{/if}}
  {{#if sTeamEditMode}} {{> tAddTeam}} {{else}}
    <a type="button" class="btn btn-default btn-lg add-team">
                    Add Team to this Season
                </a> {{/if}}

  {{#if cGames}}
    <h3>There are {{cGames.count}} games this season.</h3>
    <p>There are {{cTeams.count}} teams in this season.</p>
    <p>Select a team to see their season's schedule.</p>
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {{#each cTeams}}
            <!-- <li class="dd-team-name"><a href="{{pathFor 'tScheduleTeam'}}">{{teamName}}</a> 
            </li>-->
            <li class="dd-team-name"><a href="{{pathFor 'tListGames'}}">{{teamName}}</a>
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>
    <p>Select the game you want to enter.</p>
    <div id="scores-page">
      <div class="scores-page-content">
        <div class="score-date-area"></div>
        <div class="score-calendar-large">Calendar</div>
        <div id="score-leagues">
          <div class="score-league">
            <a href="#">League Name</a>
            <h4><a href="#">League Name</a></h4>
            <span>(# games)</span>
            <div class="score-group">
              <p>league name and season</p>

              {{#each cGames}}
                <div class="score-box">
                  <div class="score full">
                    <div class="scorebox-container {{gameResultStyle}}">
                      <div class="score-content">

                        <div class="team-names">
                          <div class="team-name">
                            <span>
                  <a href="{{pathFor 'tDetailAwayTeam'}}">{{cAwayTeam.teamName}}(a)</a> 
                </span>
                          </div>
                          <!-- END team-name -->
                          <div class="team-name">
                            <span><a href="{{pathFor 'tDetailHomeTeam'}}">{{cHomeTeam.teamName}}</a></span>
                          </div>
                          <!-- END .team-name -->
                        </div>
                        <!-- END .team-names -->

                        <div class="team-scores">
                          <div class="team-score {{didAwayTeamWin}}">
                            <span>{{awayTeamScore}}</span>
                          </div>
                          <!-- END .team-score -->
                          <div class="team-score {{didHomeTeamWin}}">
                            <span>{{homeTeamScore}}</span>
                          </div>
                          <!-- END .team-score -->
                        </div>
                        <!-- END .team-scores -->
                        <div class="game-info"><span>{{gameStatusPretty}} {{formatDate gameDate}}</span>
                        </div>
                        <!-- END .game-info -->
                      </div>
                      <!-- END score-content -->
                      {{> tEditGame}}
                    </div>
                    <!-- END .scorebox-container -->
                  </div>
                  <!-- END .score -->
                </div>
                <!-- END .score-box -->
              {{/each}}

            </div>
            <!-- END .score-group -->
          </div>
          <!-- END .score-league -->

        </div>
        <!-- END .score-leagues -->
      </div>
    </div>
  {{else}}
    <p>Sorry, no games yet</p>
  {{/if}}
</template>
