<template name="tAddPlayer">
  <div class="player-container">
    <div class="player">
      <a type="button" class="btn btn-default btn-lg add">
        <span class="glyphicon glyphicon-user">&nbsp;</span>Add Player
      </a>

      {{#if sEditMode}}
      <form name="frmAddPlayer">
        <input type="text" id="firstName" class="form-control" name="firstName" placeholder="first name" />
        <input type="text" id="lastNameInitial" class="form-control" name="lastNameInitial" placeholder="last name initial" />
        <select class="team-name form-control" name="teamId">
          <option value="">Choose A Team</option>
          {{#each sTeams}}
          <option value="{{_id}}">{{teamName}}</option>
          {{/each}}
        </select>
        <select class="form-control field-position" name="fieldPosition">
          <option value="right-fullback">Right Fullback</option>
          <option value="right-striker">Right Striker</option>
          <option value="right-midfielder">Right Midfielder</option>
          <option value="offensive-midfielder">Offensive Midfielder</option>
          <option value="defensive-midfielder">Defensive Midfielder</option>
          <option value="left-striker">Left Striker</option>
          <option value="left-midfielder">Left Midfielder</option>
          <option value="left-fullback">Left Fullback</option>
          <option value="stopper">Stopper</option>
          <option value="sweeper">Sweeper</option>
          <option value="goalie">Goalie</option>
          <option value="none">None</option>
        </select>
        <select class="game-status form-control" name="gameStatus">
          <option value="starting">Starting</option>
          <option value="sub">Substitute</option>
          <option value="out">Not Playing</option>
          <option value="legacy">Former Player</option>
        </select>
        <input type="text" class="form-control" name="jerseyNumber" placeholder="jersey number">
        <input type="text" class="form-control" name="seasonFeeOwed" placeholder="season fee">
        <input type="text" class="form-control" name="seasonFeePaid" placeholder="season fee paid">
        <input type="text" class="form-control" name="playerNotes" placeholder="player notes">
        <input type="submit" value="submit">
      </form>
      {{> tAddCancelBtns }}
      {{/if}}
    </div>
    <!-- END .player -->
  </div>
  <!-- END .player-container -->
</template>
