<template name="tListPlayersOnHomeTeam">
  {{> tBreadcrumbs}}
  {{#if sEditMode}}
    {{> tAddPlayer}}
  {{else}}
    <p>
      <a href="{{pathFor 'tListGames'}}"><span class="glyphicon glyphicon-arrow-left"></span></a> | <a type="button" class="btn btn-default btn-lg add">Add Player</a>
    </p>
  {{/if}}
  <h3>Current Players on {{this.teamName}}</h3>
  <div>
    {{#if cPlayers}}
      <p>Players on team {{cPlayers.count}}</p>
      <p>Select the player to see their profile</p>
      <a href="{{pathFor 'tDetailPlayer'}}">{{firstName}} {{lastNameInitial}}</a>
      <ul class="list-group">
        {{#each cPlayers}}
          <li class="player {{selectedClass}} list-group-item">
            <a href="{{pathFor 'tDetailPlayer'}}">{{firstName}}</a> {{> tEditPlayer}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>Sorry, this team has no players.</p>
    {{/if}}
  </div>

</template>
