<template name="tListPlayers">
  <li class="draggable droppable">{{firstName}} {{lastNameInitial}}
    <ul>
      {{#if currentUser}}
        <li>{{> tEditPlayer}}</li>
      {{/if}}
      <!-- <li>{{fieldPosition}}</li> -->
      {{#if playerNotes}}
        <li>{{playerNotes}}</li>
      {{/if}}
    </ul>
  </li>
</template>
<template name="tListSubs">
  <div class="subs">
    <li>{{firstName}} {{lastNameInitial}}
      <ul>
        {{#if currentUser}}
          <li>{{> tEditPlayer}}</li>
        {{/if}}
        <!-- <li>{{fieldPosition}}</li> -->
        {{#if playerNotes}}
          <li>{{playerNotes}}</li>
        {{/if}}
      </ul>
    </li>
  </div>
</template>
