<template name="tPlayers">
  {{> tListPlayers}}
</template>

<template name="tListPlayers">
  <!-- <div class="row"> -->
  <!--    <ol class="breadcrumb">
      <li><a href="{{pathFor 'tLeagues'}}"><span class="label label-success">League: {{cLeague.leagueName}}</span></a>
      </li>
      <li>
        <a href="{{pathFor 'tRegions'}}"><span class="label label-info">Region: {{cRegion.regionName}}</span></a>
      </li>
      <li><a href="{{pathFor 'tSeasons'}}"><span class="label label-default">Season: {{cSeason.seasonName}}</span></a>
      </li>
      <li><a href="{{pathFor 'tTeams'}}"><span class="label label-warning">Team: {{cTeam.teamName}}</span></a>
      </li>
      <li><span class="label label-warning">Player: {{cPlayer.firstName}}</span>
      </li>
    </ol> -->



  <h3>Current Players list players template</h3> {{> tAddPlayer}}
  {{#if cPlayers}}
    <p>Select the player to see their profilea</p>
    <a href="{{pathFor 'tPlayer'}}">{{firstName}} {{lastNameInitial}}</a>
    <ol>
      {{#each cPlayers}}
        <li class="player {{selectedClass}}">
          <a href="{{pathFor 'tPlayer'}}">{{firstName}}</a> {{> tEditPlayer}}
        </li>
      {{/each}}
    </ol>
  {{else}}
    <p>Sorry, this team has no players.</p>
  {{/if}}

</template>

<template name="tAddPlayer">
  {{#if sEditMode}}
    <h2>Add Player</h2>
    <div class="text">*</div>
    <div class="player">
      <a type="button" class="btn btn-default btn-lg add">
        <span class="glyphicon glyphicon-user">&nbsp;</span>Add Player
      </a>
    </div>
    {{#if sEditMode}}
      <form name="frmAddPlayer">
        <input type="text" id="firstName" class="form-control" name="firstName" placeholder="first name" />
        <input type="text" id="lastNameInitial" class="form-control" name="lastNameInitial" placeholder="last name initial" />
        <select class="team-name form-control" name="teamId">
          <option value="">Choose A Team</option>
          {{#each sTeams}}
            <option value="{{_id}}">{{teamName}}</option>
          {{/each}}
        </select>
        <select class="form-control field-position" name="fieldPosition">
          <option value="right-fullback">Right Fullback</option>
          <option value="right-fullback-3-4-3">Right Fullback 3-4-3</option>
          <option value="right-wing">Right Wing</option>
          <option value="left-wing">Left Wing</option>
          <option value="center-striker">Center Striker</option>
          <option value="right-striker">Right Striker</option>
          <option value="right-midfielder">Right Midfielder</option>
          <option value="offensive-midfielder">Offensive Midfielder</option>
          <option value="defensive-midfielder">Defensive Midfielder</option>
          <option value="left-striker">Left Striker</option>
          <option value="left-midfielder">Left Midfielder</option>
          <option value="left-fullback">Left Fullback</option>
          <option value="left-fullback-3-4-3">Left Fullback 3-4-3</option>
          <option value="stopper">Stopper</option>
          <option value="center-fullback">Center Fullback</option>
          <option value="sweeper">Sweeper</option>
          <option value="goalie">Goalie</option>
          <option value="none">None</option>
        </select>
        <select class="game-status form-control" name="gameStatus">
          <option value="starting">Starting</option>
          <option value="sub">Substitute</option>
          <option value="out">Not Playing</option>
          <option value="legacy">Former Player</option>
        </select>
        <input type="text" class="form-control" name="jerseyNumber" placeholder="jersey number">
        <input type="text" class="form-control" name="seasonFeeOwed" placeholder="season fee">
        <input type="text" class="form-control" name="seasonFeePaid" placeholder="season fee paid">
        <input type="text" class="form-control" name="playerNotes" placeholder="player notes">
        <input type="submit" value="submit"> {{> tAddCancelBtns }}
      </form>
    {{else}}
      <p>
        <a type="button" class="btn btn-default btn-lg add">Add Player</a>
      </p>
    {{/if}}
  {{/if}}
</template>

<template name="tPlayer">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'tLeagues'}}"><span class="label label-success">League: {{cLeague.leagueName}}</span></a>
      </li>
      <li>
        <a href="{{pathFor 'tRegions'}}"><span class="label label-info">Region: {{cRegion.regionName}}</span></a>
      </li>
      <li><a href="{{pathFor 'tSeasons'}}"><span class="label label-default">Season: {{cSeason.seasonName}}</span></a>
      </li>
      <li><a href="{{pathFor 'tTeams'}}"><span class="label label-warning">Team: {{cTeam.teamName}}</span></a>
      </li>
      <li><span class="label label-warning">Player: {{cPlayer.firstName}}</span>
      </li>
    </ol>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="jumbotron">
        <h1>Player</h1>
      </div>
    </div>
    <!-- END .col1 -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <p>First Name: {{cPlayer.firstName}}</p>
      <p>Last Name: {{cPlayer.lastName}}</p>
      <p>Team: {{cTeam.teamName}}</p>
      <p>League: {{cPlayer.leagueId}}</p>
      {{> tEditPlayer}}

    </div>
    <!-- END .col2 -->
  </div>
  <!-- END .row1 -->
</template>

<template name="tEditPlayer">
  {{> tEditDeleteBtns}}
</template>
