<template name="tZipCodes">
    <div class="row">
        <div class="page-header">
            <h1>Zip Code
                <small>Database</small>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- <table class="table table-striped table-hover table-condensed table-bordered">
        <thead>
          <tr>
            <th>Zip Code</th>
            <th>City</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          {{#each cStates}}
          <tr>
            <td>{{name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table> -->
            <select class="team-name form-control">
                {{#each cStates}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</template>
