<template name="tAddRegion">
    <h2>Add Region</h2>
    <form role="form">
        <input type="hidden" name="leagueId" id="inputLeagueId" class="form-control" value="{{sLeagueId}}">

        <div class="required-field-block">
            <input type="text" placeholder="Name" name="regionName" class="form-control">
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>

        <p>
            <textarea rows="3" class="form-control" placeholder="About Region" name="regionSummary"></textarea>
        </p>

        {{> tAddCancelBtns }}
    </form>

</template>
