<template name="tListRegions">
    <p>[list_region]</p>
    {{> tBreadcrumbs}}
    {{#if sEditMode}}
        {{> tAddRegion}}
    {{else}}
        <a type="button" class="btn btn-default btn-lg add">Add Region</a>
    {{/if}}
    <h3>Current Regions</h3>
    {{#if cRegions}}
        <p>Select the region you want to enter.</p>
        <ul>
            {{#each cRegions}}
                <li class="region {{selectedClass}}">
                    <a href="{{pathFor 'tDetailRegion'}}">{{regionName}}</a> {{> tEditRegion}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>Sorry, no regions yet</p>
    {{/if}}
</template>
