<template name="tListRegions">
  [list_region]
  {{> tBreadcrumbs}}
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      {{#if currentUser}}
      <a type="button" class="btn btn-default btn-lg add">
        <span class="glyphicon glyphicon-user">&nbsp;</span>Add Region
      </a>
      {{else}}
      <p>Log in to add teams</p>
      {{/if}} 
      {{#if sEditMode}} 
        {{> tAddRegion}} 
      {{/if}}
      <h3>Here is a list of current regions for this league.</h3>
      {{#if cRegions}}
      <ul>
        {{#each cRegions}}
          <li class="region {{selectedClass}}">
            <a href="{{pathFor 'tDetailRegion'}}">{{regionName}}</a> {{> tEditRegion}}</li>
        {{/each}}
      </ul>
      {{else}}
      <p>Sorry, no regions yet</p>
      {{/if}}
      <p>Select the region you want to enter.</p>
    </div>
    <!-- END .col6 -->
  </div>
</template>
