<template name="tRegions">
  {{> tListRegions}}
</template>

<!-- <template name="tDetailRegion">
  {{> tListSeasons}}
</template> -->

<template name="tListRegions">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="jumbotron">
        <h1>Current Regions</h1>
      </div>
    </div>
    <!-- END col1 -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      {{#if cRegions}}
        <p>Select the region you want to enter.</p>
        <ul>
          {{#each cRegions}}
            <li class="region {{selectedClass}}">
              <a href="{{pathFor 'tSeasons'}}">{{regionName}}</a> {{> tEditRegion}}</li>
          {{/each}}
        </ul>
      {{else}}
        <p>Sorry, no regions yet</p>
      {{/if}}
    </div>
    <!-- END .col2 -->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      {{> tAddRegion}}
    </div>
  </div>
</template>

<template name="tAddRegion">
  {{#if sEditMode}}
    <h2>Add Region</h2>
    <form role="form">
      <input type="hidden" name="leagueId" class="form-control" value="{{sLeagueId}}">

      <div class="required-field-block">
        <input type="text" placeholder="Name" name="regionName" class="form-control">
        <div class="required-icon">
          <div class="text">*</div>
        </div>
      </div>

      <p>
        <textarea rows="3" class="form-control" placeholder="About Region" name="regionSummary"></textarea>
      </p>

      {{> tAddCancelBtns }}
    </form>
  {{else}}
    <p>
      <a type="button" class="btn btn-default btn-lg add">Add Region</a>
    </p>
  {{/if}}
</template>

<template name="tEditRegion">
  {{> tEditDeleteBtns}}
</template>
