<template name="tModalGame">

  <!-- modal for editing player -->
  <div class="modal fade" id="game-modal-id">
    <div class="modal-dialog modal-game">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Game:
            <strong>{{cAwayTeam.teamName}} at {{cHomeTeam.teamName}}</strong>
          
          </h4>
        </div>
        <form class="updateGame">
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>
                  <label for="gameTime">Game Time</label>
                  <input type="text" class="form-control clockpicker" name="gameTime" value="{{cGame.gameTime}}" />
                </p>
                <p>
                  <label for="gameDate">Game Date</label>
                  <input type="text" class="form-control datepicker" name="gameDate" value="{{cGame.gameDate}}" />
                </p>
                <!-- 
                  Dropdowns of all teams in this season but select the current home and away
                    team in this game
                -->
                <p>
                  <label for="homeTeam">Home Team</label>
                  <select class="home-team form-control" name="homeTeam">
                    {{#each cTeams}}
                      <option value="{{_id}}" {{whichHomeTeamSelected}}>{{teamName}}</option>
                    {{/each}}
                  </select>
                </p>
                <p>
                  <label for="homeTeamScore">Home Score</label>
                  <input type="text" class="form-control" name="homeTeamScore" value="{{cGame.homeTeamScore}}" />
                </p>
                <p>
                  <label for="awayTeam">Away Team</label>
                  <select class="away-team form-control" name="awayTeam">
                    {{#each cTeams}}
                      <option value="{{_id}}" {{whichAwayTeamSelected}}>{{teamName}}</option>
                    {{/each}}
                  </select>
                </p>
                <p>
                  <label for="awayTeamScore">Away Score</label>
                  <input type="text" class="form-control" name="awayTeamScore" value="{{cGame.awayTeamScore}}" />
                </p>
                <p>
                  <label for="gameType">Game Type</label>
                  <select class="form-control game-type" name="gameType">
                    <option value="">Game Type</option>
                    <option value="friendly">Friendly</option>
                    <option value="regular_season">Regular Season</option>
                    <option value="playoff">Playoff</option>
                  </select>
                  <div class="required-icon">
                    <div class="text">*</div>
                  </div>
                </p>

                <p>
                  <label for="gameStatus">Game Status</label>
                  <select class="form-control game-status" name="gameStatus">
                    <option value="">Game Status</option>
                    <option value="to_be_played">To Be Played</option>
                    <option value="played">Played</option>
                    <option value="played_overtime">Played Overtime</option>
                    <option value="cancelled">Cancelled</option>
                    <option value="delayed">Delayed</option>
                    <option value="forfeit_home">Forfeit Home</option>
                    <option value="forfeit_away">Forfeit Away</option>
                  </select>
                </p>
              </div>
            </div>
          </div>
          <!-- END .modal-body -->
          {{> tModalFooter}}
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- END modal for editing player -->

</template>
