<template name="tAddDivision">
    <div class="container">

        <h1>Add Division</h1>
        {{#if currentUser}}
        <form role="form">

            <div class="required-field-block">
                <input type="text" placeholder="Name" name="divisionName" class="form-control">
                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>
            <!-- needs to be a dropdown here with league names and captures league id -->
            <div class="required-field-block">
                <input type="text" placeholder="League Name" name="leagueId" class="form-control">
                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>

            <div class="required-field-block">
                <textarea rows="3" class="form-control" placeholder="About Division" name="divisionSummary"></textarea>
                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Add Division</button>
        </form>
        {{else}}
          <p>Please log in to add division.</p>
        {{/if}}
        <h2>Current League Divisions</h2>
        <ul>
        {{#each cDivisions}}
        <li>{{divisionName}} {{> tEditDivision}}</li>
        {{/each}}
        </ul>
          <p>No divisions yet</p>
    </div><!-- END .container -->
</template>
