<template name="tModalDivision">
  <!-- modal for editing division-->
  <div class="modal fade" id="division-modal-id">
    <div class="modal-dialog modal-division">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Division</h4>
        </div>
        <form class="updateDivision">
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>
                  <label for="divisionName">Name</label>
                  <input type="text" class="first-name form-control" name="divisionName" value="{{cLeague.divisionName}}" />
                </p>
                <p>
                  <label for="leagueName">League Name</label>
                  <input type="text" class="first-name form-control" name="leagueId" value="{{cLeague.leagueId}}" />
                </p>
                               <p>
                  <label for="divisionSummary">Summary</label>
                  <textarea class="division-summary form-control" name="divisionSummary"></textarea>
                </p>
              </div>
            </div>
          </div>
          <!-- END .modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary save-changes">Save changes</button>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- END modal for editing player -->

</template>
