<template name="tAddLeague">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        {{#if currentUser}}
          <form role="form">
            <div class="form-group {{errorClass 'leagueName'}}">
              <div class="required-field-block">
                <input type="text" placeholder="Name" name="leagueName" class="form-control">
                <span class="help-block">{{errorMessage 'leagueName'}}</span>
                <div class="required-icon">
                  <div class="text">*</div>
                </div>
              </div>
            </div>

            <!-- user clicks a league link, that should take them to a list of all leagues
            if user clicks a particular league that should take them to all regions within that league
              publish only regions where the leagueId == the id of the current league

            -->

            <div class="required-field-block">
              <input type="text" placeholder="Admin First Name" name="leagueAdminFirstName" class="form-control">
              <div class="required-icon">
                <div class="text">*</div>
              </div>
            </div>

            <div class="required-field-block">
              <input type="text" placeholder="Admin Last Name" name="leagueAdminLastName" class="form-control">
              <div class="required-icon">
                <div class="text">*</div>
              </div>
            </div>

            <div class="required-field-block">
              <input type="text" placeholder="Email" name="leagueAdminEmail" class="form-control">
              <div class="required-icon">
                <div class="text">*</div>
              </div>
            </div>

            <div class="required-field-block">
              <textarea rows="3" class="form-control" placeholder="About League" name="leagueSummary"></textarea>
              <div class="required-icon">
                <div class="text">*</div>
              </div>
            </div>
            {{> tAddCancelBtns }}
          </form>
        {{else}}
          <p>Please log in to add leagues.</p>
        {{/if}}
      </div>
    </div>

  </div>
  <!-- END .container -->
</template>
