<template name="tLeagues">
  {{> tListLeagues}}
</template>

<template name="tListLeagues">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="jumbotron">
        <h1>Current Leagues</h1>
      </div>
    </div>
    <!-- END .col1 -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      {{#if cLeagues}}
        <p>Select the league you want to enter.</p>
        <ul>
          {{#each cLeagues}}
            <li class="league {{selectedClass}}"><a href="{{pathFor 'tRegions'}}">{{leagueName}}</a> {{> tEditLeague}}</li>
          {{/each}}
        </ul>
      {{else}}
        <p>Sorry, no leagues yet</p>
      {{/if}}
    </div>
    <!-- END .col2 -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      {{> tAddLeague}}
    </div>
  </div>
</template>

<!-- <template name="task">
  <li class="{{#if checked}}checked{{/if}}">aa
    <button class="delete">&times;</button>

    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

    <span class="text">{{text}}</span>
  </li>
</template>
 -->

<template name="tAddLeague">
  {{#if sEditMode}}
    <h2>Add League</h2>
    <form role="form">
      <!--  leagueName -->
      <div class="form-gr
oup {{errorClass 'leagueName'}}">
        <div class="required-field-block">
          <input type="text" placeholder="Name" name="leagueName" class="form-control">
          <span class="help-block">{{errorMessage 'leagueName'}}</span>
          <div class="required-icon">
            <div class="text">*</div>
          </div>
        </div>
      </div>

      <!-- leagueAdminFirstName -->
      <p>
        <input type="text" placeholder="Admin First Name" name="leagueAdminFirstName" class="form-control">
      </p>

      <!-- leagueAdminLastName -->
      <p>
        <input type="text" placeholder="Admin Last Name" name="leagueAdminLastName" class="form-control">
      </p>

      <!-- leagueSummary  -->
      <p>
        <textarea rows="3" class="form-control" placeholder="About League" name="leagueSummary"></textarea>
      </p>
      {{> tAddCancelBtns }}
    </form>
  {{else}}
    <p>
      <a type="button" class="btn btn-default btn-lg add">Add League</a>
    </p>
  {{/if}}
</template>

<template name="tEditLeague">
  {{> tEditDeleteBtns}}
</template>
