<template name="tListLeagues">
  {{> tBreadcrumbs}}
  {{#if sEditMode}}
    {{> tAddLeague}}
  {{else}}
    <p>
      <a href="{{pathFor 'tHome'}}">back
</a> | <a type="button" class="btn btn-default btn-lg add">Add League</a>
    </p>
  {{/if}}
  <h3>Current Leagues.</h3>
  {{#if cLeagues}}
    <p>Select the league you want to enter.</p>
    <ul>
      {{#each cLeagues}}
        <li class="league {{selectedClass}}"><a href="{{pathFor 'tDetailLeague'}}">{{leagueName}}</a> {{> tEditLeague}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>Sorry, no leagues yet</p>
  {{/if}}
</template>

<template name="task">
  <li class="{{#if checked}}checked{{/if}}">aa
    <button class="delete">&times;</button>

    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

    <span class="text">{{text}}</span>
  </li>
</template>
