<template name="tListSeasons">
    <p>[list_seasons]</p>
    {{> tBreadcrumbs}} {{#if sEditMode}} {{> tAddSeason}} {{else}}
    <p><a type="button" class="btn btn-default btn-lg add">Add Season</a>
    </p>
    {{/if}}
    <h3>Current Seasons</h3> {{#if cSeasons}}
    <p>Select the season you want to enter.</p>
    <ul>
        {{#each cSeasons}}
        <li class="seasons {{selectedClass}}">
            <a href="{{pathFor 'tDetailSeason'}}">{{seasonName}}</a> {{> tEditSeason}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>Sorry, no seasons yet</p>
    {{/if}}

</template>
