<template name="tListSeasons">
  <p>[list_seasons]</p>
  {{> tBreadcrumbs}}
  {{#if sEditMode}}
    {{> tAddSeason}}
  {{else}}
    <p><a href="{{pathFor 'tListRegions'}}"><span class="glyphicon glyphicon-arrow-left"></span></a> | <a type="button" class="btn btn-default btn-lg add">Add Season</a>
    </p>
  {{/if}}
  <h3>Seasons</h3>
  <p><strong>League:</strong> <em>{{cLeague.leagueName}}</em> &gt; <strong>Region:</strong> <em>{{cRegion.regionName}}</em> </p>
  {{#if cSeasons}}
    <p>Here is a list of all the teams that are in this season. Click on a team to view it's season schedule.</p>
    <ul>
      {{#each cSeasons}}
        <li class="season {{selectedClass sSeasonId}}">
          <a href="{{pathFor 'tDetailSeason'}}">{{seasonName}}</a> {{> tEditSeason}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>Sorry, no seasons yet</p>
  {{/if}}

</template>
