<template name="tAddTeam">
  <h2>Add Team</h2>
  <form role="form">
    <!-- <input type="hidden" name="leagueId" class="form-control" value="{{sLeagueId}}">
<input type="hidden" name="regionId" class="form-control" value="{{sRegionId}}">
<input type="hidden" name="seasonId" class="form-control" value="{{sSeasonId}}">
 -->

    <!-- Season Name -->
    <div class="required-field-block">
      <input type="text" placeholder="Name" name="teamName" class="form-control">
      <div class="required-icon">
        <div class="text">*</div>
      </div>
    </div>

    <!-- <p>
            <input type="text" placeholder="coachName" name="coachName" class="form-control">
        </p>
        <p>
            <select class="form-control" name="seasonDivision">
                <option>Division</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </p>
-->
    <!-- Season Fee -->
    <!-- p>
            <input type="text" placeholder="Season Fee" name="teamFee" class="form-control">
        </p>  -->

    <!-- <p>
            <input type="text" placeholder="Home Color" name="teamHomeColor" class="form-control">
        </p>
        <p>
            <input type="text" placeholder="Away Color" name="teamAwayColor" class="form-control">
        </p>
        <p>
            <input type="text" placeholder="Home Field" name="teamHomeField" class="form-control">
        </p>
        <p>
            <input type="text" placeholder="City" name="teamCity" class="form-control">
        </p>
        <p>
            <input type="text" placeholder="State" name="teamState" class="form-control">
        </p>
        <p>
            <input type="text" placeholder="Country" name="teamCountry" class="form-control">
        </p> -->

    <!-- Season Summary -->
    <!-- does textarea have a placeholder attribute or does the code go inside it? -->
    <p>
      <textarea rows="3" class="form-control" placeholder="About Team" name="seasonSummary"></textarea>
    </p>
    {{> tAddCancelBtns }}
  </form>
</template>
