<template name="tDetailTeam">
    [detail_team] {{> tListPlayers}}
    <!--     {{#if cRoster}}
        <ol>
            {{#each cRoster}}
                <li>
                    {{> tListPlayers}}

                    <ul>
                        <li>{{fieldPosition}} {{playerNotes}}</li>
                        {{#if currentUser}}
                            <li>{{> tEditPlayer}}</li>
                        {{/if}}
                    </ul>
                </li>
            {{/each}}
        </ol>

    {{else}}
        <p>no starting players</p>

    {{/if}} -->
</template>
