<template name="tListTeams">
  <p>[list_teams]</p>
  {{> tBreadcrumbs}}
  {{#if sEditMode}}
    {{> tAddTeam}}
  {{else}}
    <p>
      <a href="{{pathFor 'tListSeasons'}}"><span class="glyphicon glyphicon-arrow-left"></span></a> | <a type="button" class="btn btn-default btn-lg add">Add Team</a>
    </p>
  {{/if}}
  <h3>{{this.seasonName}} season {{this._id}}</h3>
  <div>
    {{#if cTeams}}
      <p>Select the team you want to enter.</p>
      <ul>
        {{#each cTeams}}
          <li class="team {{selectedClass}}">
            <a href="{{pathFor 'tDetailTeam'}}">{{teamName}}</a> {{> tEditTeam}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>Sorry, no Teams yet</p>
    {{/if}}
  </div>
</template>
