<template name="tListTeams">
    <p>[list_teams]</p>
    {{> tBreadcrumbs}}
    {{#if sEditMode}}
        {{> tAddTeam}}
    {{else}}
        <a type="button" class="btn btn-default btn-lg add">Add Team</a>
    {{/if}}
    <h3>Here is a list of current Teams for this season.</h3>
    {{#if cTeams}}
        <p>Select the team you want to enter.</p>
        <ul>
            {{#each cTeams}}
                <li class="Teams {{selectedClass}}">
                    <a href="{{pathFor 'tDetailTeam'}}">{{teamName}}</a> {{> tEditTeam}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>Sorry, no Teams yet</p>
    {{/if}}
</template>
