<template name="tScheduleTeam">
  {{> tBreadcrumbs}}{{sTeamId}}
  <h2>Team Name: {{cTest}}</h2>
  {{#if cGames}}
    {{test}}
    <h3>{{cGames.count}} games this season.</h3>
    <p>{{cTeams.count}} teams in this season.</p>
    <p>Select a team to see their season's schedule.</p>
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {{#each cTeams}}
            <li><a href="{{pathFor 'tListGamesByTeam'}}">{{teamName}}</a>
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>
    <p>Select the game you want to enter.</p>
    <div id="scores-page">
      <div class="scores-page-content">
        <div class="score-date-area"></div>
        <div class="score-calendar-large">Calendar</div>
        <div id="score-leagues">
          <div class="score-league">
            <a href="#">League Name</a>
            <h4><a href="#">League Name</a></h4>
            <span>(# games)</span>
            <div class="score-group">
              <p>league name and season</p>

              {{#each cGames}}
                <div class="score-box">
                  <div class="score full">
                    <div class="scorebox-container {{gameResultStyle}}">
                      <div class="score-content">

                        <div class="team-names">
                          <div class="team-name">
                            <span>
                  <a href="{{pathFor 'tDetailAwayTeam'}}">{{cAwayTeam.teamName}}(a)</a> 
                </span>
                          </div>
                          <!-- END team-name -->
                          <div class="team-name">
                            <span><a href="{{pathFor 'tDetailHomeTeam'}}">{{cHomeTeam.teamName}}</a></span>
                          </div>
                          <!-- END .team-name -->
                        </div>
                        <!-- END .team-names -->

                        <div class="team-scores">
                          <div class="team-score {{didAwayTeamWin}}">
                            <span>{{awayTeamScore}}</span>
                          </div>
                          <!-- END .team-score -->
                          <div class="team-score {{didHomeTeamWin}}">
                            <span>{{homeTeamScore}}</span>
                          </div>
                          <!-- END .team-score -->
                        </div>
                        <!-- END .team-scores -->
                        <div class="game-info"><span>{{gameStatus}}</span>
                        </div>
                        <!-- END .game-info -->
                      </div>
                      <!-- END score-content -->
                      {{> tEditGame}}
                    </div>
                    <!-- END .scorebox-container -->
                  </div>
                  <!-- END .score -->
                </div>
                <!-- END .score-box -->
              {{/each}}

            </div>
            <!-- END .score-group -->
          </div>
          <!-- END .score-league -->

        </div>
        <!-- END .score-leagues -->
      </div>
    </div>

    <ul class="list-group">

      <!-- I need to generate a list of games a + b and sorted from games
          most current until the end of the season, how do I tell
          which games have been played? How to I show games that are yet to be played?
          How to I show the next game? -->
      <li class="game {{selectedClass}}">
        <a href="{{pathFor 'tDetailGame'}}">[Game Detail]</a> {{gameDate}} <strong>Away:</strong> [] vs <strong>Home</strong>: [] @ {{gameTime}} [{{gameStatus}}] {{> tEditGame}}</li>

    </ul>
  {{else}}
    <p>Sorry, no games yet</p>
  {{/if}}
</template>
