<template name="tBreadcrumbs">
  test
  <!--   <ol class="breadcrumb">
    <li><a href="{{pathFor 'tHome'}}">Home</a></li>
    <li><a href="{{pathFor 'tListLeagues'}}">Leagues</a></li>
    <li><a href="{{pathFor 'tListRegions'}}">Regions</a></li>
    <li><a href="{{pathFor 'tListSeasons'}}">Seasons</a></li>
    <li><a href="{{pathFor 'tListTeams'}}">Teams</a></li>
    <li><a href="{{pathFor 'tListGames'}}">Games</a></li>
    <li><a href="{{pathFor 'tListPlayers'}}">Players</a></li>
  </ol> -->
  <ol class="breadcrumb">
    <li>
      {{#linkTo route="tHome" }}
        <i class="fa fa-lg fa-fw fa-home"></i>
      {{/linkTo}}
    </li>
    {{#each intermediateRoutes}}
      <li>
        {{#linkTo route=name}}
          <strong>{{label}}</strong>
        {{/linkTo}}
      </li>
    {{/each}}
    <li class="active">
      <strong>{{currentRouteLabel}}</strong>
    </li>
  </ol>
</template>
