<template name="tBreadcrumbs">
  <ol class="breadcrumb">
    <li><a href="{{pathFor 'tHome'}}">Home</a></li>
    <li><a href="{{pathFor 'tListLeagues'}}">Leagues</a></li>
    <!-- PROBLEM - How do I make tDetailLeague link back to South Bay Sports? -->
    <li><a href="{{pathFor 'tListRegions'}}">Regions</a></li>
    <li><a href="{{pathFor 'tListTypes'}}">Types</a></li>
    <li><a href="{{pathFor 'tListSeasons'}}">Seasons</a></li>
    <li><a href="{{pathFor 'tListDivisions'}}">Divisions</a></li>
    <li><a href="{{pathFor 'tListTeams'}}">Teams</a></li>
    <li><a href="{{pathFor 'tListPlayers'}}">Players</a></li>
  </ol>
</template>
