<template name="tNav">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'tHome'}}">Lineupbuilder!</a>
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor 'tFormerPlayers'}}">Former Players</a></li>
        <li><a href="{{pathFor 'tHome2'}}">Home2</a></li>
        <li><a href="{{pathFor 'tAddTeam'}}">Team</a></li>
        <li><a href="{{pathFor 'tGame'}}">Game</a></li>
        <li><a href="{{pathFor 'tLeagueList'}}">Leagues</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Thursday 7v7</a></li>
            <li><a href="#">Friday 7v7</a></li>
            <li><a href="#">Sunday 11v11</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</template>